doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title NEUQ-ACM 俱乐部
        // Bootstrap Core CSS
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        // Custom CSS
        link(href='/stylesheets/stylish-portfolio.css', rel='stylesheet')
        // Custom Fonts
        link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        //link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
          script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    body
        // Navigation
        a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
            i.fa.fa-bars
        nav#sidebar-wrapper
            ul.sidebar-nav
                a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
                    i.fa.fa-times
                li.sidebar-brand
                    a(href='#top', onclick='$("#menu-close").click();') Start Bootstrap
                li
                    a(href='#top', onclick='$("#menu-close").click();') Home
                li
                    a(href='#about', onclick='$("#menu-close").click();') About
                li
                    a(href='#services', onclick='$("#menu-close").click();') Services
                li
                    a(href='#portfolio', onclick='$("#menu-close").click();') Portfolio
                li
                    a(href='#contact', onclick='$("#menu-close").click();') Contact
        // Header
        header#top.header
            .text-vertical-center
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            h1 NEUQ-ACM 俱乐部
                            h3 一个神奇的学生团队
                            a.btn.btn-dark.btn-lg(href='#about') More About US
        // About
        section#about.about
            .container
                .row
                    .col-lg-12.text-center
                        h2 NEUQ-ACM 俱乐部
                        p.lead
                            | NEUQ-ACM 俱乐部前身为NEUQ-ACM协会，由首任会长谷瑞于2012年9月筹建。2013年12月15日，在汪晋宽校长，白秋果院长及校团委张顺宇书记等众多领导的见证下，NEUQ-ACM俱乐部正式成立。
                // /.row
            // /.container
        // Services
        // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
        section#services.services.bg-primary
            .container
                .row.text-center
                    .col-lg-10.col-lg-offset-1
                        h2 What we do
                        hr.small
                        .row
                            .col-md-3.col-sm-6
                                .service-item
                                    span.fa-stack.fa-4x
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-connectdevelop.fa-stack-1x.text-primary
                                    h4
                                        strong ACM/ICPC 竞赛训练
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    a.btn.btn-light(href='#') Learn More
                            .col-md-3.col-sm-6
                                .service-item
                                    span.fa-stack.fa-4x
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-laptop.fa-stack-1x.text-primary
                                    h4
                                        strong 「图灵杯」程序设计大赛
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    a.btn.btn-light(href='#') Learn More
                            .col-md-3.col-sm-6
                                .service-item
                                    span.fa-stack.fa-4x
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-venus-mars.fa-stack-1x.text-primary
                                    h4
                                        strong neuqGeek 社区
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    a.btn.btn-light(href='#') Learn More
                            .col-md-3.col-sm-6
                                .service-item
                                    span.fa-stack.fa-4x
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-heartbeat.fa-stack-1x.text-primary
                                    h4
                                        strong X .Y. Z
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    a.btn.btn-light(href='#') Learn More
                        // /.row (nested)
                    // /.col-lg-10
                // /.row
            // /.container
        // Callout
        aside.callout
            .text-vertical-center
                h1 Vertically Centered Text
        // Portfolio
        section#portfolio.portfolio
            .container
                .row
                    .col-lg-10.col-lg-offset-1.text-center
                        h2 Our Work
                        hr.small
                        .row
                            .col-md-6
                                .portfolio-item
                                    a(href='#')
                                        img.img-portfolio.img-responsive(src='/images/portfolio-1.jpg')
                            .col-md-6
                                .portfolio-item
                                    a(href='#')
                                        img.img-portfolio.img-responsive(src='/images/portfolio-2.jpg')
                            .col-md-6
                                .portfolio-item
                                    a(href='#')
                                        img.img-portfolio.img-responsive(src='/images/portfolio-3.jpg')
                            .col-md-6
                                .portfolio-item
                                    a(href='#')
                                        img.img-portfolio.img-responsive(src='/images/portfolio-4.jpg')
                        // /.row (nested)
                        a.btn.btn-dark(href='#') View More Items
                    // /.col-lg-10
                // /.row
            // /.container
        // Call to Action
        aside.call-to-action.bg-primary
            .container
                .row
                    .col-lg-12.text-center
                        h3 The buttons below are impossible to resist.
                        a.btn.btn-lg.btn-light(href='#') Click Me!
                        a.btn.btn-lg.btn-dark(href='#') Look at Me!
        // Map
        section#contact.map
            iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A&output=embed')
            br
            small
                a(href='https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A')
        // Footer
        footer
            .container
                .row
                    .col-lg-10.col-lg-offset-1.text-center
                        h4
                            strong Start Bootstrap
                        p
                            | 3481 Melrose Place
                            br
                            | Beverly Hills, CA 90210
                        ul.list-unstyled
                            li
                                i.fa.fa-phone.fa-fw
                                |  (123) 456-7890
                            li
                                i.fa.fa-envelope-o.fa-fw
                                a(href='mailto:name@example.com') name@example.com
                        br
                        ul.list-inline
                            li
                                a(href='#')
                                    i.fa.fa-facebook.fa-fw.fa-3x
                            li
                                a(href='#')
                                    i.fa.fa-twitter.fa-fw.fa-3x
                            li
                                a(href='#')
                                    i.fa.fa-dribbble.fa-fw.fa-3x
                        hr.small
                        p.text-muted Copyright © Your Website 2014
        // jQuery
        script(src='/javascripts/jquery.js')
        // Bootstrap Core JavaScript
        script(src='/javascripts/bootstrap.min.js')
        // Custom Theme JavaScript
        script(src='/javascripts/menu.js')